html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  padding: 0;
  text-align: center;
  width: 100%;
}

body {
  background: #fff;
  font-family: 'Fredericka the Great', cursive;
  font-size: calc(16 + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.containerDeck {
  display: flex;
  justify-content: center;
}

h1, h3 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 500;
  text-align: center;
}

/*
 * Card Deck Style
 */
.deck {
  align-items: center;
  background: linear-gradient(160deg, #88E205 10%, #204168 100%);
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 3em;
  min-height: 60%;
  padding: 16px;
  width: 70%;
}

.deck .card {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../image/seatown-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: .5rem;
  box-shadow: 5px 5px 20px 5px rgba(46, 61, 73, 0.5);
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 0;
  height: 12vh;
  margin: .5%;
  width: 14vw;
}

.deck .card-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: .5%;
}

.deck .card.open {
  background: #88E205;
  cursor: pointer;
  transform: rotateY(0);
}

.deck .card.show {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 2em;
  justify-content: center;
}

.deck .card.match {
  background: #204168;
  font-size: 2.5em;
}

.deck .card.unmatched {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.deck .card.disable {
  pointer-events: none;
}

/*
 * Score Panel Style
 */
.score-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1%;
  width: 100%;
}

#ratingBlock {
  display: inline-block;
}

.stars {
  color: gold;
  display: inline-block;
  margin: 0 5px 0 0;
  margin: 0;
  padding: 0;
}

.stars li {
  display: inline-block;
  list-style: none;
}

.restart {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.restart:active {
  top: 2px;
}

#gameTimerBlock {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

#gameTimer {
  color: red;
  display: block;
  height: auto;
  padding: 10px;
  text-align: center;
  width: auto;
}

#finalTime {
  color: green;
  display: block;
  height: auto;
  margin: 2%;
  text-align: center;
  width: auto;
}

#my-modal {
  background-color: white;
  border: 5px dashed #F7DC6F;
  box-shadow: 5px 5px 10px black;
  height: 55%;
  left: 50%;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 99;
}

.modal-shown {
  display: block;
}

.modal-closed {
  display: none;
}

.btn {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 1em;
}

/* Green */
.success {
  border-color: #88E205;
  color: green;
}

.success:hover {
  background-color: #88E205;
  color: white;
}

/* Blue */
.exit {
  border-color: #204168;
  color: navy;
}

.exit:hover {
  background: #204168;
  color: white;
}

/* Extra Small Device Screen */
@media screen and (min-width: 320px) {
  .deck {
    width: 80%;
  }

  .deck .card {
    width: 18vw;
  }

  #my-modal {
    height: 38%;
  }
}

@media (min-width: 600px) {
  .deck {
    width: 480px;
  }

  .deck .card {
    height: 90px;
    width: 108px;
  }

  #my-modal {
    height: 267px;
    width: 380px;
  }
}
